# Dependencias
node_modules/

# Variables de entorno 
.env
.env.local

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Archivos de editores
.vscode/
.idea/
*.swp

# Logs
*.log
npm-debug.log*

# Build / dist
dist/
build/
